body{
	font: 12px Tahoma, sans-serif;
}
.logo{
  color: green;
  text-shadow:  1px -1px 1px #000,
				0px -1px 1px #000,
			    0px  1px 1px #000,
			    1px  1px 1px #000;
}
.mainMenu ul{
	list-style-type: none;
}
.mainMenu li{
	display: inline-block;
}
.mainMenu a {
	text-decoration: none;
}
