body{
	font: 12px 'Open Sans', sans-serif;
	color: white;
}
body > div {
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.home{
	height: 664px;
	width: 100%;
	background: url(images/header.jpg) no-repeat center top;
	background-size: cover;
	/* display: block; */
	position: absolute;
	left:0px;
	top:0px;
	z-index: -1;
}
.logo{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.logo p{
  text-align: center;
  font-size: 52px;
  font-family: Belinda;
  display: block;
  /* position: absolute; */
}
.mainMenu {
	display: block;
	list-style-type: none;
	text-align:center;
	top: 150px;
}
.mainMenu  li{
	display: inline-block;
}
.mainMenu a {
	text-decoration: none;
	color: white;
	margin-right: 60px;
	font-size: 16px;
}
.mainMenu a:hover{
	color: greenyellow;
}
.sometext {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sometext h1{
	display: block;
	color: white;
	font-size: 78px;
	font-family: 'Ubuntu', sans-serif;
}
.topButton{
	font-family: 'Open sans', sans-serif;
	font-size: 18px;
	margin-top: 90px;
	border-radius: 30px 30px 30px 30px;
	width: auto;
    height: auto;
    color: white;
	background-color: #50C3AF;
	padding: 16px 80px;
	border: none;
	outline: none;
    -webkit-transition: all 0.6s ease;;
    -moz-transition: all 0.6s ease;;
    -o-transition: all 0.6s ease;;
    transition: all 0.6s ease;
}
.topButton:hover, .topButton:active{
	background-color: greenyellow;
}

.secondMenu{
	background-color: #eeeeef;
	background-size: cover;
	width: 100%;
	height: 332px;
	position: absolute;
	top: 664px;
	left: 0;
	text-align: center;
}
.professionals{
	background: url(images/user-group.png) no-repeat center;
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: contain;

}
.amateurs{
	background: url(images/heart.png) no-repeat center;
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: contain;

}
.foreveryone{
	background: url(images/headset.png) no-repeat center;
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: contain;

}

.secondTitle{
	color: #40474e;
	font-size: 16px;
}
.secondMenu p{
	color:#787b80;
	font-size: 14px;
	line-height: 26px;
}
.services-item{
	display: inline-block;
	padding: 80px 5px 0 25px;
	/* float: left; */
	width: 20%;
	text-align: center;
}
.thirdSection{
	background-color: #f5f5f5;
	background-size: cover;
	width: 100%;
	height: 540px;
	position:absolute;
	top: 996px;
	left: 0;
	text-align: center;


}
.people{
	background: url(images/car.png) no-repeat center;
	width: 350px;
	height: 250px;
	display: inline-block;
	background-size: cover;
}
.car{
	background: url(images/velik.png) no-repeat center;
	width: 350px;
	height: 250px;
	display: inline-block;
	background-size: cover;
}
.third-services{
	display: inline-block;
	padding: 50px 5px 0 5px;
	width: 30%;
	text-align: left;
	margin-left:110px;
	margin-right: 60px;



}
.third-services h5{
	color: #40474e;
	font-size: 20px;
	margin: 15px 0 15px 0;
}
.third-services article{
	color:#787b80;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	width: 300px;


}
.third-button{
	display: inline-block;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	margin-top: 30px;
	border-radius: 30px 30px 30px 30px;
	width: auto;
	height: auto;
	color: white;
	background-color: #50C3AF;
	padding: 8px 40px;
	border: none;
	outline: none;
	-webkit-transition: all 0.6s ease;;
	-moz-transition: all 0.6s ease;;
	-o-transition: all 0.6s ease;;
	transition: all 0.6s ease;
}
.fourthSection{
	position: absolute;
	top: 1536px;
	left: 0;
	width: 100%;
	height: 320px;
	background-color:#eeeeef ;
	text-align: center;

}
.fourth-services{
	margin-top: 25px;
	display: inline-block;
	text-align: left;
	width: 70%;
}
.fourthSection article{
	color:#787b80;
	display: inline-block;
	font-size: 14px;
	line-height: 26px;

}
.fourthSection h5{
	color: #40474e;
	font-size: 20px;
	display: inline-block;
}
.four-button{
	display: inline-block;
	font-family: 'Open sans', sans-serif;
	font-size: 14px;
	margin-top: 30px;
	border-radius: 30px 30px 30px 30px;
	width: auto;
	height: auto;
	color: white;
	background-color: #d2d5da;
	padding: 8px 40px;
	border: none;
	outline: none;
	-webkit-transition: all 0.6s ease;;
	-moz-transition: all 0.6s ease;;
	-o-transition: all 0.6s ease;;
	transition: all 0.6s ease;
}
.fiveSection{
	position:absolute;
	left:0;
	top:1856px;
	width: 100%;
	background-color: #f5f5f5;
	height: 440px;
	text-align: center;
}
.five-container{
	display: inline-block;
	width: 250px;
	margin-top: 50px;
	text-align: left;
	margin-left:45px;
	margin-right:45px;

}
.five-container  h5{
	color: #40474e;
	font-size: 20px;
	display: inline-block;
	margin-top:15px;
	margin-bottom:15px;

}
.five-container article{
	color:#787b80;
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
 }
.five-container a {
color: #50c3af;
font-size: 14px;
display: inline-block;
margin-top: 20px;
}

.five-image{
	height: 200px;
	width: 250px;
	background-color: #787b80;
}
.six-section{
	position:absolute;
	top:2296px;
	left: 0;
	width: 100%;
	height:440px;
	background-color:#eeeeef;
	text-align: center;

}
.six-title{
	height: 70px;
	width:395px;
	border-bottom: 2px solid #e2e3e4;
	padding-bottom: 10px;
	margin-bottom:30px;
	display: inline-block;
}
.six-title h5{
	color: #40474e;
	font-size: 20px;
	display: inline-block;
	padding-left: 10px;
}
.six-container article{
	color:#787b80;
	display: inline-block;
	font-size: 14px;
	line-height: 26px;


}
.six-container{
	width:395px;
	height: 200px;
	display:inline-block;
	margin-left:20px;
	margin-right: 20px;
	text-align: left;
}
.six-icon1{
	background: url("icons/message.png") no-repeat center ;
	width: 25px;
	height:25px;
	background-size: contain;
	display: inline-block;
}
.six-icon2{
	background: url("icons/mail.png") no-repeat center;
	width: 25px;
	height:25px;
	background-size: contain;
	display: inline-block;
}

@font-face {
	font-family: Belinda;
	src: url(fonts/belinda.otf);
}
.clearfix:before,
.clearfix:after{
content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
